/*=============
 || Queries ||
 ============*/
/*===========
 || Colors ||  
 ===========*/
/*===============
 || Typography ||
 ===============*/
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Barlow";
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

li, ul li {
  list-style: none;
}

header {
  background: url(../../images/mobile/image-header.jpg) center/cover;
  display: flex;
  flex-direction: column;
  height: 74vh;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.3rem;
  position: relative;
  width: 100%;
}
header nav img {
  height: auto;
  object-fit: contain;
  width: 9.3rem;
}
header nav button {
  border: none;
  background-color: transparent;
  color: inherit;
  outline: none;
  transition: transform 0.7s;
}
header nav .h__desktop-menu {
  color: white;
  display: none;
  flex: 0.83;
  margin: 0 1rem;
  max-width: 37rem;
}
header nav .h__desktop-menu ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header nav .h__desktop-menu ul button {
  background-color: white;
  border-radius: 999px;
  color: #333333;
  font-family: "Fraunces";
  padding: 1rem 1.5rem;
}
header nav .h__mobile-menu {
  background-color: white;
  display: block;
  height: 40vh;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 6.7rem;
  transition: opacity 0.7s;
  width: 90%;
}
header nav .h__mobile-menu ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
}
header nav .h__mobile-menu ul li, header nav .h__mobile-menu ul button {
  color: #818498;
  font-size: 1.05rem;
}
header nav .h__mobile-menu ul button {
  background-color: #ffd500;
  border-radius: 999px;
  color: #23303e;
  font-family: "Fraunces";
  padding: 1rem 2rem;
}
header nav .h__mobile-menu .triangle {
  background-color: transparent;
  border-bottom: 4rem solid transparent;
  border-left: 4rem solid transparent;
  border-right: 4rem solid white;
  border-top: 4rem solid transparent;
  height: 0rem;
  position: absolute;
  right: 0;
  top: -1.5rem;
  width: 0rem;
}
header nav .show-menu {
  opacity: 1;
  pointer-events: all;
}
header nav .h__mobile-menu.show-menu + .nav__button-menu {
  transform: rotate(90deg);
}
@media only screen and (min-width: 47.5rem) {
  header nav .h__mobile-menu, header nav .nav__button-menu {
    display: none;
  }
  header nav .h__desktop-menu {
    display: flex;
  }
}
header .header__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  height: 40vh;
}
header .header__info h1 {
  color: white;
  font-family: "Fraunces";
  font-size: 2.3rem;
  margin: auto;
  letter-spacing: 0.35rem;
  text-align: center;
}
@media only screen and (min-width: 47.5rem) {
  header {
    background: url(../../images/desktop/image-header.jpg) center/cover;
  }
  header .header__info h1 {
    font-size: 2.8rem;
  }
}

main .main__branding img {
  display: block;
  /*  */
  height: 100%;
  object-fit: cover;
  width: 100%;
}
main .main__branding h2 {
  width: 100%;
}
main .main__branding p {
  line-height: 2rem;
}
main .main__branding .section__transform-article .section__info, main .main__branding .section__stand-article .section__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  /*  */
}
main .main__branding .section__transform-article .section__info h2, main .main__branding .section__stand-article .section__info h2 {
  font-family: "Fraunces";
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
main .main__branding .section__transform-article .section__info p, main .main__branding .section__stand-article .section__info p {
  color: #818498;
  line-height: 1.9;
  margin: 1.3rem 0;
  font-size: 0.9rem;
  padding: 0 0.5rem;
  text-align: center;
}
@media only screen and (min-width: 60rem) {
  main .main__branding .section__transform-article .section__info h2, main .main__branding .section__stand-article .section__info h2 {
    font-size: 1.8rem;
  }
  main .main__branding .section__transform-article .section__info p, main .main__branding .section__stand-article .section__info p {
    font-size: 1rem;
  }
}
main .main__branding .section__transform-article .section__info button, main .main__branding .section__stand-article .section__info button {
  position: relative;
  border: none;
  background-color: transparent;
  color: inherit;
  outline: none;
}
main .main__branding .section__transform-article .section__info button a, main .main__branding .section__stand-article .section__info button a {
  font-family: "Fraunces";
}
main .main__branding .section__transform-article .section__info button::after, main .main__branding .section__stand-article .section__info button::after {
  background-color: #ffd500;
  border-radius: 999px;
  bottom: 0;
  content: "";
  height: 0.2rem;
  left: 0;
  opacity: 0.3;
  position: absolute;
  width: 105%;
}
main .main__branding .section__stand-article .section__info button:after {
  background-color: #fe7867;
}
main .main__branding .img-container {
  position: relative;
}
main .main__branding .img-container .section__info {
  bottom: 1.5rem;
  position: absolute;
}
main .main__branding .section__graphic-article h2, main .main__branding .section__photography-article h2 {
  font-family: "Fraunces";
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
main .main__branding .section__graphic-article p, main .main__branding .section__photography-article p {
  color: #333333;
  line-height: 1.9;
  margin: 1.3rem 0;
  font-size: 0.9rem;
  padding: 0 0.5rem;
  text-align: center;
}
@media only screen and (min-width: 60rem) {
  main .main__branding .section__graphic-article h2, main .main__branding .section__photography-article h2 {
    font-size: 1.8rem;
  }
  main .main__branding .section__graphic-article p, main .main__branding .section__photography-article p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 47.5rem) {
  main .main__branding img {
    display: inherit;
  }
  main .main__branding .section__transform-article .section__info, main .main__branding .section__stand-article .section__info {
    padding: 1rem 0;
  }
  main .main__branding .section-grid {
    display: flex;
    flex-wrap: wrap;
  }
  main .main__branding .section-grid div, main .main__branding .section-grid article {
    flex-basis: 50%;
  }
  main .main__branding .art-2.section-grid .section__info {
    justify-content: center;
  }
  main .main__branding .art-2.section-grid .section__info p, main .main__branding .art-2.section-grid .section__info h2 {
    max-width: 670px;
    padding: 0 auto;
    text-align: left;
    width: 80%;
  }
  main .main__branding .section__transform-article div:first-child {
    order: 2;
  }
}
@media only screen and (min-width: 90rem) {
  main .main__branding .section-grid .section__info h2 {
    font-size: 1.95rem;
  }
  main .main__branding .section-grid .section__info p {
    font-size: 1.25rem;
    margin: 1.5rem 0;
  }
}
main .main__testimonials h3 {
  color: #a7abae;
  font-family: "Fraunces";
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.35rem;
  margin: 3rem 0;
  text-align: center;
}
main .main__testimonials .testimonials {
  margin: 0 0 1.5rem 0;
}
main .main__testimonials .testimonials .img-container {
  margin: 0 auto;
  object-fit: cover;
  width: 6rem;
}
main .main__testimonials .testimonials .img-container img {
  border-radius: 50%;
  width: 100%;
}
main .main__testimonials .testimonials p {
  font-size: 1rem;
  line-height: 1.8;
  margin: 1.5rem 0;
  padding: 0 4rem;
  text-align: center;
}
main .main__testimonials .testimonials strong, main .main__testimonials .testimonials span {
  display: block;
  text-align: center;
}
main .main__testimonials .testimonials strong {
  font-family: "Fraunces";
  font-weight: 800;
  font-size: 1.05rem;
  margin: 0 0 0.7rem 0;
}
main .main__testimonials .testimonials span {
  color: #a7abae;
  font-size: 0.8rem;
}
@media only screen and (min-width: 47.5rem) {
  main .main__testimonials .main__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0 0 0;
  }
  main .main__testimonials .main__container p {
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 90rem) {
  main .main__testimonials .testimonials p {
    font-size: 1.25rem;
  }
  main .main__testimonials .testimonials strong {
    font-size: 1.1rem;
  }
  main .main__testimonials .testimonials span {
    font-size: 0.9rem;
  }
}

footer {
  background-color: #92d3c5;
  position: relative;
}
footer .footer__collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .footer__collage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 45vh;
}
footer section .img-cont img {
  width: 10rem;
}
footer section .divs {
  width: 70%;
  max-width: 350px;
}
footer section .divs ul {
  color: #2B7264;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 25rem;
}
footer section .divs:last-child {
  width: 50%;
  max-width: 200px;
}
@media only screen and (min-width: 47.5rem) {
  footer .footer__collage {
    grid-template-columns: repeat(4, 1fr);
  }
  footer section li {
    font-size: 1.2rem;
  }
}
footer .attribution {
  font-size: 0.8rem;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
footer .attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=main.css.map */
