//---- Layout ----//


/*=============
 || Queries ||
 ============*/

$mobile-query: 23.43rem;
$mid-query: 47.5rem;
$upper-mid-query: 60rem;
$desktop-query: 90rem;


/*===========
 || Colors ||  
 ===========*/ 

//---- Primary ----//

$Soft-red: hsl(7, 99%, 70%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%); // (graphic design text)
$Dark-blue: hsl(198, 62%, 26%); //photography-text
$Dark-moderate-cyan:#2B7264; //(footer)
$Light-cyan: rgb(146, 211, 197);

//---- Neutral ----//

$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);
$Yellow: hsl(50, 100%, 50%);

/*===============
 || Typography ||
 ===============*/ 

//---- Sizes ----// 
$Font-size: 18px;

//---- Fonts ----//

$ftn-Barlow: 'Barlow';
$ftn-Fraunces: 'Fraunces';