@use '../1-helpers/variables' as vars;
@use '../1-helpers/mixins' as mix;

footer {
    background-color: vars.$Light-cyan;
    position: relative;

    .footer__collage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    section {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height:45vh;

        .img-cont img {
            width: 10rem;
        }

        .divs {
            max-width: 350px;
            width: 70%;
            ul {
                color: vars.$Dark-moderate-cyan;
                display: flex;
                justify-content: space-between;
                max-width: 25rem;
                width: 100%;
            }
        }

        .divs:last-child {
            max-width: 200px;
            width: 50%;
        }
    }

    @media only screen and (min-width: vars.$mid-query) {
       .footer__collage { grid-template-columns: repeat(4, 1fr); }
       section { li { font-size: 1.2rem; } }
    }

    .attribution { 
        bottom: 1rem;
        font-size: .8rem; 
        left: 50%;
        position: absolute;
        text-align: center; 
        transform: translateX(-50%);
        width: 100%;

        a { color: hsl(228, 45%, 44%); }
    }
    
}
